<launch>

    <rosparam command="load" file="$(find pcl_test)/config/velodyne16_sim.yaml" />

    <node pkg="pcl_test" type="cloudToWebs" name="cloudToWebs" output="screen" /> 
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find pcl_test)/rviz_config/show.rviz" />

</launch>
