<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="xiangliang.SLDPRT">
  <link
    name="xiangliang">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="9999.1" />
      <inertia
        ixx="3264100"
        ixy="-529.44"
        ixz="-930.54"
        iyy="3261600"
        iyz="-970.000000000199"
        izz="5341" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xiangliang/meshes/xiangliang.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.6 0 1" />
        <texture
          filename="package://xiangliang/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xiangliang/meshes/xiangliang.STL" />
      </geometry>
    </collision>
  </link>
</robot>
